body {
    background-image: url(./p.jpg);
}

#oo {
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}